@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  color: #333;
}

.page-container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.page-container::before,
.page-container::after {
  content: "";
  position: fixed;
  width: 100%;
  height: 50%;
  left: 0;
  background-repeat: no-repeat;
  z-index: -1;
}

.page-container::before {
  top: 0;
  background-image: url("/bg.svg");
  background-size: contain;
  background-position: top center;
}

.page-container::after {
  bottom: 0;
  background-image: url("/bg2.svg");
  background-size: contain;
  background-position: bottom center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
