@import "tailwindcss/preflight";
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  color: #333;
}

.page-container {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.page-container::before,
.page-container::after {
  content: "";
  position: fixed;
  width: 100vw;
  height: 50vh;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: -1;
}

.page-container::before {
  top: 0;
  background-image: url("/bg.svg");
  background-position: top center;
}

.page-container::after {
  bottom: 0;
  background-image: url("/bg2.svg");
  background-position: bottom center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
